#product-nav{
    cursor: pointer;
}

/* #carousel_img{
    background:url(/images/landing_pg_img_1.png) no-repeat;
    height: 30em;
    background-size:100% 100%;
} */


.carousel-inner .carousel-item:nth-child(2) .carousel-caption{
    top: 0;

}

#product-categories li{
   list-style-type: none;
}

#product-categories div{
    background-color: aqua; 
    border-radius: 15em;
}

#product-categories li:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

/* #child_nav {
    display: none;
}

#parent_nav:hover #child_nav {
    display: block;
} */


