*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', serif;
}

body{
    background-color: #eee;
}

.container-fluid{
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
    padding: 15px;
    box-shadow: 0px 2px 2px 2px gray;
}

nav .logo{
    margin-left: 22px;
    font-size: 24px;
}

.logo h1{
    font-size: 1.5em;
    font-weight: bold;
}

.searchBox {
    /* margin-top: 7px; */
    background: #d0d4db;
    border-radius: 40px;
    padding: 10px;
}

.searchButton{
    background-color: transparent;
    border: none;
    color: black;
}

.searchBox .searchInput{
    width: 50px;
    background-color: transparent;
    border: none;
    transition: 0.4s;
    outline: none;
    
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
    border: none;
}

.searchBox:hover > .searchButton {
    background-color: transparent;
    border: none;
}

ul{
    margin-right: 45px;
    margin-top: 7px;
}

nav ul li{
    list-style-type: none;
}

ul li a{
    margin-inline: 22px;
    font-size: 20px;
}

ul li i{
    font-size: 22px;
}

nav ul li #home-nav{
    color: blueviolet;
}

nav ul li #home-nav:hover{
    color: gray;
    cursor: pointer;
}

nav ul li{
    cursor: pointer;
}

.product-categories{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    display: none;
}

.main{
    display: flex;
    justify-content: space-around;
}

#man_section,#woman_section,#kids_section{
    display: none;
}

.main .main-text{
    margin-top: 144px;
}

.main-text h2{
    font-size: 64px;
}

.main-text .top-text{
    color: rgb(4, 138, 138);
}

.main-text button{
    width: 145px;
    height: 40px;
    background-color: rgb(4, 140, 140);
    border: none;
    font-size: 22px;
    color: white;
    margin-top: 24px;
}

.main-text p{
    margin-top: 12px;
}

.main-text button:hover{
    border: 3px solid rgb(3, 128, 128);
    background-color: transparent;
    color: rgb(2, 121, 121);
}

div .head h2{
    text-align: center;
    padding: 33px;
    margin-top: 22px;
}

div .head span{
    color: rgb(1, 133, 133);
}

.card{
    display: flex;
    justify-content: center;
}

.card .subcard{
    width: 300px;
    /* height: 500px; */
    background-color: whitesmoke;
    margin-inline: 11px;
   
}

.subcard img{
    width: 85%;
    padding: 22px;
    border-radius: 31px;
}

.subcard .card-text{
    margin-left: 16px;
    padding: 8px;
}

.subcard .card-text button{
    width: 110px;
    height: 33px;
    border: none;
    background-color: aqua;
    color: white;
    font-size: 19px;
    margin-top: 11px;
}

.card-text i{
    color: rgb(255, 149, 0);
}

.subcard .card-text button:hover{
    color: black;
}

.subcard-blog{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
    background-color: #fff;
    margin-inline: 22px;
    border-radius: 11px;
}

.subcard-blog:hover{
    transition: 0.6s ease;
    width: 520px;
    height: 320px;
}
.subcard-blog img{
    padding: 22px;
    width: 85%;
}

.blog-text{
    padding: 12px;
    margin-top: 33px;
}
.blog-text a{
    width: 130px;
    padding: 4px;
    height: 18px;
    background-color: rgb(4, 136, 136);
    color: white;
    font-size: 18px;
    border-radius: 5px;
position: relative;
top: 33px;
}

.letter{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color:rgb(2, 2, 66);
    padding: 43px;
}

.email{
    display: flex;
}

.email input{
    width: 330px;
    height: 33px;
    outline: none;
    font-size: 18px;
    border: none;
}
.email button{
    width: 100px;
    height: 33px;
    background-color: rgb(2, 173, 173);
    color: white;
    border: none;
}

.footer{
    display: flex;
    justify-content: center;
    padding: 53px;
}
.footer .footer-text{
    margin-inline: 85px;
}
.footer-text p{
    margin-top: 11px;
}
